
#messageContainer {
  display: flex;
  color: white;
  position: absolute;
  margin-left:150px;
  width: 80%;
  background-color: #4d1b1b;
  padding: 10px;
  max-width: 1000px;
}

#pixiCanvas{
  margin-left: 150px;

}

body{
  text-align: center;
}

#messageBox {
  margin: 10px;
  padding: 5px;
}

.rpgButton{
  background-color: brown;
  color: beige;
  border: 3px solid #4d1b1b;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  transition: 0.4s;
  box-shadow:  2px 2px 8px 2px #887575;
}

.rpgButton:hover{
  background-color: #bc4747;
}

.healthBar {
  transform: rotate(-90deg);
  r:16;
  cx:-22;
  cy:22;
  fill:white;
  stroke:#f7444b;
  stroke-width:10;
  stroke-dasharray: 100 100;
  transition: 1s;
}

.healthMonitor{
  position: absolute;
  height: 50px;
  width: 50px;
}

.circleBackground {
  transform: rotate(-90deg);
  r:16;
  cx:-22;
  cy:22;
  fill:white;
  stroke:#fce8e9;
  stroke-width:10;
}

#debugPanel{
  position: absolute;
  bottom: 50px;
  background-color: antiquewhite;
  height: 100px;
  padding: 20px;
  width: 100%;
}

#customGameGui {
  padding: 30px;
  color: white;
  position: absolute;
  margin-left: 300px;
  width: 700px;
  background-color: #441a1a;
  margin-top: 100px;
  height: 500px;
}

