
#messageContainer {
  display: flex;
}

#messageBox {
  margin: 10px;
  padding: 5px;
}

button{
  background-color: brown;
  color: beige;
  border: 3px solid #4d1b1b;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  transition: 0.4s;
  box-shadow:  2px 2px 8px 2px #887575;
}

button:hover{
  background-color: #bc4747;
}
