
.blackBar {
    background-color: teal;
    color: white;
    padding: 15px;
}

.full-width {
    width: 100%;
}

li{
    cursor: ns-resize;
    list-style-type: none;
}

.pointer{
    cursor:pointer;
}

.mainContainer {
    max-height: 80vh;
    overflow-y: auto;
}

.red-text{
    color: #f44336;
}

.search-result:hover{
  background-color: red;
  cursor: pointer;
}

.search-result{
  cursor: pointer;
}

.btn{
    margin: 5px;
}


#uploadInfo {
    position: absolute;
    width: 98%;
    height: 95%;
    z-index: 2;
    border: 7px dashed white;
    margin: 1%;
    border-radius: 5px;
    color: white;
    font-size: 200%;
    text-align: center;
    padding: 5%;
}

#uploadInfoContainer {
    position: fixed;
    top: 54px; /*Height of the Menu Bar*/
    left:0px;
    width:100%;
    height: calc(100% - 54px);
    background-color: rgba(36, 116, 193, 0.91);
    z-index: 2;
    display: none;
}

#uploadIcon {
    position: absolute;
    width: 98%;
    height: 95%;
    z-index: 2;
    border: 7px dashed white;
    margin: 1%;
    border-radius: 5px;
    color: white;
    font-size: 200%;
    text-align: center;
    padding-top: 30%;
    font-size: 1000%;
    animation-name: upload-hopper;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes upload-hopper{
    50% {padding-top: 23%;}
}

#drop * {pointer-events: none;}
